html {
    background-color: #001C30;
    color: #DAFFFB;
}

body {
    margin: 0;
}

nav {
    background-color: #176B87;
    margin: 0;
    padding: 0;
}

div {
    margin: 8px;
}

.devicon-html5-plain-wordmark {
    font-size: 50px;
}

.devicon-css3-plain-wordmark {
    font-size: 50px;
}

.devicon-javascript-plain {
    font-size: 50px;
}

.devicon-react-original {
    font-size: 50px;
}