html {
    background-color: #FFF6E0;
    color: #272829;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

footer {
    text-align: center;
}

nav {
    background-color: #D8D9DA;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 6px;
    padding-right: 6px;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

p {
    font-weight: 600;
}

.content {
    margin: 8px;
}

.introduction {
    display: flex;
    justify-content: center;
}

.personal {
    margin: 80px 120px;
}

.skills {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.skills i {
    font-size: 50px;
}

#title-name {
    font-size: 100px;
    margin: 0;
}

#title-description {
    font-size: 80px;
    margin: 0;
}